header .logo img{
    width: 160px;
}

header .tools{
    padding-top: 38px;
}
header .navigation{
    padding-top: 25px;
}
header .search{
    padding-top: 25px;
}
header .tools .pi{
    margin-right: 10px;
}